@model List<WebApplication6.Models.TheImage>
@using System.Globalization
@using System.Threading;
@{
    ViewBag.Title = "Home Page";
}

<ul style="margin-top:10px;">
    @{
        CultureInfo currentCulture = Thread.CurrentThread.CurrentCulture;

        <li><a href="/Home/ChangeCurrentCulture/0">English</a></li>

        <li><a href="/Home/ChangeCurrentCulture/1">Arabic</a></li>
    }
</ul>

<span>
    @Resource.Welcome
</span>

<div class="jumbotron z-depth-3">
    <h1>Material Design</h1>
    <p class="lead">This site uses material design theme and will be used in the future to test new designs</p>
</div>

<div class="row">
    <!--row-->
    <div class="col-md-4">
        <!--card-->
        <div class="card text-center">
            <div class="card-header default-color  white-text">
                Alert
            </div>
            <div class="card-block">
                <h4 class="card-title">Simple Alert Dialog</h4>
                <p class="card-text">This will only show a popup message with a title</p>
                <input class="btn btn-default" type="button" id="btn_alert" value="Alert" />
            </div>
            <div class="card-footer text-muted default-color  white-text">
                <p>Basic Alert</p>
            </div>
        </div>
    </div><!--card-->

    <div class="col-md-4">
        <!--card-->
        <div class="card text-center">
            <div class="card-header default-color  white-text">
                Confirm
            </div>
            <div class="card-block">
                <h4 class="card-title">Dialog with confirm and cancel buttons</h4>
                <p class="card-text">Draggable Confirmation Dialog</p>
                <input class="btn btn-default" type="button" id="btn_confirm" value="Confirm" />
            </div>
            <div class="card-footer text-muted default-color  white-text">
                <p>Draggable Dialog</p>
            </div>
        </div>
    </div><!--card-->

    <div class="col-md-4">
        <!--card-->
        <div class="card text-center">
            <div class="card-header default-color  white-text">
                Dialog with input
            </div>
            <div class="card-block">
                <h4 class="card-title">Dialog with input fields</h4>
                <p class="card-text">Dialog with input fields and submit button</p>
                <input class="btn btn-default" type="button" id="btn_dialog" value="Dialog" />
            </div>
            <div class="card-footer text-muted default-color  white-text">
                <p>Dialog Form</p>
            </div>
        </div>
    </div><!--card-->
</div><!--row-->
<div>
    <input type="file" id="FileUpload" name="file" multiple class="btn btn-default">
    <input type="button" id="Upload" value="Upload" class="btn btn-default" />
</div>

<div id="images">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <img id="@item.Id" onclick="deleteImage(this)" style="height:400px; width:400px" src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.ImageContent))" />
        }
    }
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/js/mdb.min.js"></script>
<script>
    var _deleteAction = '@Url.Action("DeleteImage")';
    var _uploadAction = '@Url.Action("Upload")';
</script>
<script src="~/Scripts/index.js"></script>
